module.exports = {
  port: process.env.PORT || 5002,
  api: 'http://localhost:5003/api/',
  fb : {
    validation_token : 'facebook-validation-token',
    access_token : 'FACEBOOK-ACCESS-TOKEN'
  }
}
